* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(253, 251, 251);
  color: darkviolet;
  font-size: 14;
  line-height: 1.5;
}

#titulo {
  background-color: darksalmon;
}

#cabecalho {
  position: fixed;
  top: 0;
  /*background-color: seagreen;*/
  color:wheat;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

#meu_avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#minha_foto {
  height: 200x;
  border-radius: 8px;
}

.conteudo_principal {
/*   top: 150px;
  position: absolute; 
  padding: 50px;*/
  max-width: 1366px;
  margin: 80px auto 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  color:rgb(151, 76, 76)
}

#cabecalho .navegacao ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #dddddd;
}

#cabecalho .navegacao li{
  float: left;
}

#cabecalho .navegacao li a {
  display: block;
  padding: 8px;
}

/* 
overflow: hidden;
  background-color: dimgrey;
  display: inline;
  text-decoration: none;

nav, li {
  float: left;
}

nav, li, a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

nav, li, a:hover {
  background-color: silver;
} */

table, th, td {
  border: 1px solid crimson;
}

.tabela_de_licoes {
  width: 100%;
}
