* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(253, 251, 251);
  color: darkviolet;
  font-size: 16;
  line-height: 1.5;
}

#titulo {
  background-color: darksalmon;
}

#cabecalho {
  position: fixed;
  top: 0;
  color: wheat;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

#meu_avatar {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: absolute;
}

#minha_foto {
  height: 400px;
  border-radius: 8px;
}

/* top: 150px;
  position: absolute; 
  padding: 50px; iria ai abaixo> */

.conteudo_principal {
  max-width: 1366px;
  margin: 130px auto 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  color: rgb(151, 76, 76);
}

#cabecalho .navegacao ul { 
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ddd;
}

#cabecalho .navegacao li {
  float: left;
}

#cabecalho .navegacao li a {
  display: block;
  color: crimson;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#cabecalho .navegacao li a:hover:not(.active) {
  background-color: silver;
}

.active {
  background-color: rgb(122, 128, 125);
}

.conteudo_principal #lado_esquerdo {
  margin-left: 800px;
}

.conteudo_principal #lado_direito {
  margin-left: 1300px;
}

table th td {
  border: 1px solid crimson;
}

.tabela_de_licoes {
  width: 100%;
}

#rodape {
  margin-left: 20px;
  color: grey;
  font-size: smaller;
}

a:link {
  color: rgb(213, 139, 120);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(141, 25, 255);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(63, 189, 151);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(70, 105, 116);
  background-color: transparent;
  text-decoration: underline;
}
